.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

*{
  margin: 0px;
  padding: 0px;
}

#bg-navbar{
  position: fixed;
  height: 65px;
  background-color: black;
  z-index: 1;
}

#navbar {
  /*position: fixed;*/
}

#navbar .brand-name{
  font-size: 26px;
  height: 65px;
}


/*css*/
/*##############################################################*/
/*##############################################################*/
/*##############################################################*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/font/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

@font-face{
  font-family: 'light';
  src: url(./assets/font/FontsFree-Net-GrabsteinSans.ttf);
}

@font-face{
  font-family: 'bold';
  src: url(./assets/font/FontsFree-Net-Poppins-SemiBold.ttf);
}

@font-face{
  font-family: 'brand';
  src: url(./assets/font/.VnBahamasBH.ttf);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

*{
  margin: 0px;
  padding: 0px;
  font-family: 'light';
  /*border: 1px solid red;*/
}

body{
  font-size: 14px;
}

.content{
  color: black;
  width: auto;
  position: relative;
  padding-right: 10%;
  padding-left: 10%;
  width: 80%;
}

.bold{
  font-family: 'bold';
}

.brand{
  font-family: 'brand';
}

.banner{
  font-family: 'brand';
  font-size: 50px;
}



  /*<!-- ####################################### -->
  <!-- Start Image Slider -->
  <!-- ####################################### -->*/
#slider{
  font-size: 11px;
  font-weight: bold;
  width: auto;
  position: relative;
  top: 60px;
/*  width:-moz-available;
  width: -webkit-fill-available;*/
}

#slider .label{
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#slider .label .l-label ul li{
  list-style: none;
  float: left;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider .label .r-label{
  background-color: grey;
  color: white;
  padding: 4px 12px 4px 12px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  font-size: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 8px #252525;
}

#slider .label .r-label b{
  margin-right: 10px;
}

#slider .c-box .t-box{
  display: flex;
  justify-content: space-around;
}

#slider .c-box .t-box .btn-left,#slider .c-box .t-box .btn-right{
  background-color: white;
  color: black;
  width: 200px;
  height: 70px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}

#slider .c-box .t-box .l-box .style{
  color: white;
  background-color: black;
  transition: .7s;
}

#slider .c-box .t-box .r-box .style{
  color: white;
  background-color: black;
  transition: .7s;
}

#slider .c-box .t-box .btn-left{
  float: left;
}

#slider .c-box .t-box .btn-right{
  float: right;
}

#slider .c-box .t-box .text-banner{
  font-size: 45px;
  font-family: 'bold';
  color: white;
}

#slider .c-box .b-box{
  color: white;
  background-color: black;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider .c-box .b-box ul li{
  list-style: none;
  float: left;
  display: flex;
  align-items: center;
  padding: 0 40px 0 40px;
}

#slider .c-box .l-box{
  height: 450px;
  width: 50%;
  background-image: url(./assets/images/women.jpg);
  background-size: 100% 450px;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  cursor: pointer;
}

#slider .c-box .l-box::after{
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  height: 450px;
  background-color: rgba(0,0,0, .5);
}

#slider .c-box .l-box .text-tlc{
  padding: 30px;
  height: 350px;
  position: absolute;
}

#slider .c-box .r-box{
  height: 450px;
  width: 50%;
  background-image: url(./assets/images/men.jpg);
  background-size: 100% 450px;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  cursor: pointer;
}

#slider .c-box .r-box::after{
  content: " ";
  display: block;
  height: 100%;
  width: 100%;
  height: 450px;
  background-color: rgba(0,0,0, .5);
}

#slider .c-box .r-box .text-brc{
  position: absolute;
  bottom: 0;
  width: 100%;
}

#slider .c-box .r-box .text-brc .text{
  padding: 20px;
}

#slider .c-box .r-box .text-brc .text .t-text{
  display: flex;
  padding: 20px 0 20px 0;
}

#slider .c-box .r-box .text-brc .text .t-text .l-text{
  width: 50%;
}

#slider .c-box .r-box .text-brc .text .t-text .r-text{
  width: 50%;
}

#slider .c-box .r-box .text-brc .text .voucher{
  font-size: 20px;
  font-family: 'bold';
  background-color: green;
  color: white;
  padding: 4px 10px 4px 10px;
  width: 280px;
  text-align: center;
  border-radius: 5px;
}

  /*<!-- ####################################### -->
  <!-- End Image Slider -->
  <!-- ####################################### -->*/










/*  <!-- ####################################### -->
  <!-- Start Event -->
  <!-- ####################################### -->*/
#nowEvent{
  width: auto;
  position: relative;
  top: 80px;
}

#nowEvent .box{
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

#nowEvent .box .style_hover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .0);
  transition: .7s;
}

#nowEvent .box .style_hover:hover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .5);
  transition: .7s;
}

#nowEvent .box .l-box{
  background-image: url(./assets/images/kids2.jpg);
  width: 50%;
  height: 300px;
}

#nowEvent .box .r-box{
  background-image: url(./assets/images/kids3.jpg);
  width: 50%;
  height: 300px;
  position: relative;
}

#nowEvent .box .r-box .text{
  text-align: center;
  position: relative;
  color: white;
  height: 300px;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#nowEvent .box .r-box::after{
  content: " ";
  display: block;
  height: 300px;
  background-color: rgba(0,0,0, .5);
}

#nowEvent .b-label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e54304;
  padding: 0 30px 0 30px;
  border-radius: 5px;
  color: white;
  position: relative;
}

#nowEvent .b-label .style_hover{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .0);
  border-radius: 5px;
  transition: .7s;
}

#nowEvent .b-label .style_hover:hover{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .5);
  transition: .7s;
}

#nowEvent .b-label img{
  position: relative;
  top: 2px;
}

#nowEvent .b-label .r-label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*  <!-- ####################################### -->
  <!-- End Event -->
  <!-- ####################################### -->*/










/*  <!-- ####################################### -->
  <!-- Start Brand -->
  <!-- ####################################### -->*/
#brand{
  width: auto;
}

#brand .logo ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#brand .logo ul li{
  list-style: none;
  float: left;
  margin-bottom: 30px;
  transition: .3s;
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: .8s ease;
  -moz-transition: .8s ease;
  -o-transition: .8s ease;
  transition: .8s ease;
}

#brand .logo ul .style{
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: .8s ease;
  -moz-transition: .8s ease;
  -o-transition: .8s ease;
  transition: .8s ease;
}

#brand .logo ul li:hover{
  opacity: .3;
  border-radius: 10px;
  transition: .3s;
}

/*  <!-- ####################################### -->
  <!-- End Brand -->
  <!-- ####################################### -->*/






/*  <!-- ####################################### -->
  <!-- Start New Produk -->
  <!-- ####################################### -->*/
#newProduk{
  width: auto;
  position: relative;
}

#newProduk .produk{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

#newProduk .produk .ls-produk{
  transition: .3s;
  width: 300px;
  margin-bottom: 20px;
}

#newProduk .produk .ls-produk:hover{
  opacity: .7;
  transition: .3s;
}

/*  <!-- ####################################### -->
  <!-- End New Produk -->
  <!-- ####################################### -->*/


#footer{
  background-color: black;
  color: white;
}

#footer center{
  display: flex;
  justify-content: center;
  align-items: center;
}